/*全部分类样式*/
.slider-nav{
  background-color: rgba(0,0,0,0.6);
  border: none;
  visibility: collapse;
}
.slider-nav .slider-li .name {
  color: #fff;
}
#page-all-nav .slider-nav{
  visibility: visible;
}
